@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border: 1.5px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Rajdhani';
  font-size: medium;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: 0.50s;
}

.btn:hover,
.btn:focus {
  background-color: rgba(255, 255, 255, .3);
  box-shadow: inset 0 0 0 2em var(--hover);
}


.gradient,
.active {
  background: rgba(0, 202, 229, 1)
}

.active {
  color: #005b67;
  padding: 10px;
  border-radius: 100%;
}

.workInfo {
  background-color: #00cae5;
  border-radius: 0 75px 75px 0;
  padding: 10px 50px;
}

.workInfoSmall {
  background-color: #00cae5;
  border-radius: 0 75px 75px 0;
  padding: 10px 20px;
}

.skill1 {
  background-color: #ff4496;
  color: #6c002f;
  border-radius: 25px;
  font-family: 'Rajdhani';
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin: 4px;
  transition: 0.50s;
}

.skill2 {
  background-color: #00cae5;
  color: #005b67;
  border-radius: 25px;
  font-family: 'Rajdhani';
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin: 4px;
}

.skill3 {
  background-color: #e0bd2b;
  color: #624b00;
  border-radius: 25px;
  font-family: 'Rajdhani';
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin: 4px;
}

.form {
  background: rgba(0, 202, 229, 0.8);
  opacity: 10;
}

.nav {
  background-color: rgba(0, 202, 229, .2)

}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}